<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST">
    <label>
      First name:
      <input>
    </label>

    <label>
      Last name:
      <input>
    </label>

    <label>
      Username:
      <input>
    </label>


    <label>
      Password:
      <input>
    </label>
    <label>
      Confirm Password:
      <input>
    </label>

    <button type="submit">Create Account</button>
  </form>

</body>

</html>