<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('./partials/errors.ejs') %>
  <form method="POST">
    <label>
      First name:
      <input type="text" name="firstName">
    </label>

    <label>
      Last name:
      <input type="text" name="lastName">
    </label>

    <label>
      Username:
      <input type="text" name="userName">
    </label>


    <!-- TODO change password from text type to password type -->
    <label>
      Password:
      <input type="text" name="password">
    </label>
    <label>
      Confirm Password:
      <input type="text" name="passwordConfirm">
    </label>

    <button type="submit">Create Account</button>
  </form>

</body>

</html>